# Node modules
node_modules/

# React Native build files
android/app/build/
ios/Pods/
ios/build/

# Environment files
.env
.env.*  
*.env

# Firebase config (DON'T upload these)
firebase.js
firebaseConfig.js
google-services.json
GoogleService-Info.plist

# IDE settings
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db
